<!DOCCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
{% include 'stylesheet.css' %}
</head>
<body>

{% with nbpaths=nbpaths %}
{% include "navbar.html" %}
{% endwith %}


<h1>Mass Balance calibration continuous integration</h1>
<p>
    <a href="http://www.cru.uea.ac.uk/">CRU</a> climate data, the
    <br>
    <br>
    Additionally the overview also shows results for the cross-validation when
    varying the model parameters
    <i>Precipitation Factor</i>,
    <i>Melt Temperature</i>,
    <i>Liquid Precipitation Temperature</i> and
    <i>Temperature Laps Rate</i>.
    Each possible parameter combination (1215) is cross-validated and plotted
    with respect to one of the parameters. The box-whisker plots show the full
    range of results and the red dots indicates the results when useing the
    proposed standard values.
    <br>
    <br>
</p>

{% if hasdata %}

<p>OGGM Version: {{ version }}.</p>
<p>Output created: {{ date }}.</p>

{{ previous }}
{{ next }}
<p></p>


<article>
    {% for cv in cvplots %}
    <img src="plots/{{ cv }}" width="1300" height="700">
    {% endfor %}
</article>

{% endif %}


</body>
</html>



