<!DOCCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
{% include 'stylesheet.css' %}
</head>
<body>

{% with webroot=webroot %}
{% include "navbar.html" %}
{% endwith %}


<h1>Mass Balance calibration continuous integration</h1>
<p>
    <a href="http://www.zamg.ac.at/histalp/">ZAMG Histalp</a> data was used.
    The cross-validation with the Histalp data also allowed us to
    <a href="https://oggm.org/2018/08/10/histalp-parameters/">propose a set of
        standard model parameters</a> to be used with this data.
</p>


{% if hasdata %}
<p>OGGM Version: {{ version }}.</p>
<p>Output created: {{ date }}.</p>

{{ previous }}
{{ next }}
<p></p>

<div class="dr pd wn">
    <button onclick="myFunction()" class="dropbtn">Select glacier</button>
    <div id="myDropdown" class="dropdown-content">
        <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
        {% if index %}
        {% include 'linklistindex.html' %}
        {% else %}
        {% include 'linklist.html' %}
        {% endif %}
    </div>
</div>

{% include 'ddscript.html' %}

<article>
    <h1>{{ glcname }}</h1>
    <img src="{{ glcimg }}" width="1200" height="500">
    <h3>Some statistic:</h3>
    <p>{{ bias1 }}</p>
    <p>{{ bias2 }}</p>
</article>

{% endif %}

</body>
</html>



