<!DOCCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
{% include 'stylesheet.css' %}
</head>
<body>

<h1>Mass Balance calibration continuous integration</h1>
<p>This website tracks the performance of the OGGM mass balance calibration
    across multiple model versions. This allows us to easily see the effects of
    certain model changes on the mass balance parametrisation of OGGM. <br>
    <br>
<u>How to use:</u>
    <br>
    The website is organised in OGGM versions. You can switch
    between different model Versions with the buttons labeled like
    <i>1.0.2+12.abcd345</i>. This string indicates the model version and also
    the respective git-commit.<br>
    <br>
    Some version-strings end with <i>-histalp</i>. Only Alpine reference
    glaciers were used for these cross-validations and instead of the
    <a href="http://www.cru.uea.ac.uk/">CRU</a> climate data, the
    <a href="http://www.zamg.ac.at/histalp/">ZAMG Histalp</a> data was used.
    The cross-validation with the Histalp data also allowed us to
    <a href="https://oggm.org/2018/08/10/histalp-parameters/">propose a set of
        standard model parameters</a> to be used with this data.
    <br>
    <br>
    The general overview of each model version first provides a histogram
    comparing two different approaches to determine the glaciers temperature
    sensitivity parameter. For more information on this see
    <a href="https://www.geosci-model-dev-discuss.net/gmd-2018-9/">The Open
    Global Glacier Model</a>, Figure 4.
    <br>
    <br>
    Additionally the overview also shows results for the cross-validation when
    varying the model parameters
    <i>Precipitation Factor</i>,
    <i>Melt Temperature</i>,
    <i>Liquid Precipitation Temperature</i> and
    <i>Temperature Laps Rate</i>.
    Each possible parameter combination (1215) is cross-validated and plotted
    with respect to one of the parameters. The box-whisker plots show the full
    range of results and the red dots indicates the results when useing the
    proposed standard values.
    <br>
    <br>
    With <i>Select glacier</i> you can search for and select a specific glacier
    and see how the mass balance model performs in its case.
    The plots compare the measured annual mass balance on this glacier with two
    different OGGM results: For the <i>Calibrated t_star</i> the annual mass
    balance is used to calibrate the glaciers temperature sensitivity in a way
    that the resulting mass balance bias is 0.
    The <i>Crossvalidated t_star</i> does not use the measured mass balance
    data and therefore represents true model performance.
</p>
<p>OGGM Version: {{ version }}.</p>
<p>Output created: {{ date }}.</p> 

{{ previous }}
{{ next }}
<p></p>

<div class="dr pd wn">
<button onclick="myFunction()" class="dropbtn">Select glacier</button>
  <div id="myDropdown" class="dropdown-content">
    <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
    {% if index %}
      {% include 'linklistindex.html' %}
    {% else %}
      {% include 'linklist.html' %}
    {% endif %}
  </div>
</div>

   {% include 'ddscript.html' %}

<article>
   <h1>{{ glcname }}</h1>
   <img src="{{ glcimg }}" width="1200" height="500">
  <h3>Some statistic:</h3>
  <p>{{ bias1 }}</p>
  <p>{{ bias2 }}</p>
</article>


{% if crossval %}
   <article>
      {% for cv in cvplots %}
      <img src="plots/{{ cv }}" width="1300" height="700">
      {% endfor %}
   </article>
{% endif %}

</body>
</html>



