# Configuration file for mbcrossval parameters

# Limit crossvalidation to a single RGI region. Either for reduced runtime.
#   Or due to regional climate data (e.g. HISTALP)
#   Alps = '11', All reference glaciers = None
region = None
#
# RGI Version
rgi_version = '6'
#
# Decide which tasks to run:
#
# run_minor_crossvalidataion runs the crossvalidation with the
#   standard parameter.
run_minor_crossval = True
#
# parameters for the major crossvalidation
# precipitation factor
prcp1 = 1.5
prcp2 = 3.5
prcp_step = 0.25
# T liquid
tliq1 = 1.0
tliq2 = 3.0
tliq_step = 0.5
# T Melt
tmel1 = -2.0
tmel2 = 0.
tmel_step = 0.25
# T gradient
tgra1 = -0.0075
tgra2 = -0.0055
tgra_step = 0.001
#
# Redo all plots while creating the website (Time consuming but usefull)
redo_all_plots = True
#
# decide if a website will be created from the results
make_website = True
#
# set alternative path to a directory with jinja templates, None=default
jinjadir = None
# --------------------------------------------------------------
#
